@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashOfClans';
  src: url('./fonts/supercell-magic.ttf') format('truetype');
}

body {
  font-family: 'ClashOfClans', sans-serif;
}
html{
  scroll-behavior: smooth;
}

@layer base {
  .font-clash-of-clans {
    font-family: 'ClashOfClans', sans-serif;
  }
}
